#!/bin/bash
# Static ENV Vars Configuration file

### SAMPLE FILE...

# PKG
export REPO_DEFAULT=false
export REPO_NAME=my_repo_name
export REPO_METHOD=https
export REPO_URL=my.repo.url
export REPO_BUILD=my_build
export REPO_KEY=my_repo.cert
export REPO_PRI=100