# Last modified {{ ansible_date_time.date }} @ {{ ansible_date_time.time }}
# enable console connection
boot_multicons="YES"
boot_serial="YES"
comconsole_speed="115200"
console="comconsole,vidconsole"
kern.geom.label.disk_ident.enable="0"
kern.geom.label.gptid.enable="0"
zfs_load="YES"
