# Ansible Template
# date: '19/02/17'
# Last modified {{ ansible_date_time.date }} @ {{ ansible_date_time.time }}

FreeBSD: {
{% if (freebsd_repo_enabled) %}
	enabled: yes
{% else %}
    enabled: no
{% endif %}
}